.orbit
  border: 1px solid #3D3D3D
  position: absolute
  border-radius: 50%
  margin: 0
  padding: 0
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  -webkit-animation-name: orbit
  -moz-animation-iteration-count: infinite
  -moz-animation-timing-function: linear
  -moz-animation-name: orbit
  

.active-orbit
  color: yellow
  border: 1px solid #FF7142

.mercury-orbit
  height: 586px
  width: 586px
  top: 864px
  left: 864px
  -webkit-animation-duration: 22s
  -moz-animation-duration: 22s

.venus-orbit
  height: 602px
  width: 602px
  top: 856px
  left: 856px
  -webkit-animation-duration: 56s
  -moz-animation-duration: 56s

.earth-orbit
  height: 614px
  width: 614px
  top: 850px
  left: 850px
  -webkit-animation-duration: 91s
  -moz-animation-duration: 91s

.mars-orbit
  height: 634px
  width: 634px
  top: 840px
  left: 840px
  -webkit-animation-duration: 172s
  -moz-animation-duration: 172s

.jupiter-orbit
  height: 790px
  width: 790px
  top: 762px
  left: 762px
  -webkit-animation-duration: 1083s
  -moz-animation-duration: 1083s

.saturn-orbit
  height: 974px
  width: 974px
  top: 670px
  left: 670px
  -webkit-animation-duration: 2690s
  -moz-animation-duration: 2690s

.uranus-orbit
  height: 1378px
  width: 1378px
  top: 468px
  left: 468px
  -webkit-animation-duration: 7671s
  -moz-animation-duration: 7671s

.neptune-orbit
  height: 1834px
  width: 1834px
  top: 240px
  left: 240px
  -webkit-animation-duration: 15048s
  -moz-animation-duration: 15048s

.pluto-orbit
  height: 2314px
  width: 2314px
  top: 0
  left: 0
  -webkit-animation-duration: 22616s
  -moz-animation-duration: 22616s

// @-webkit-keyframes orbit { 
//   from { -webkit-transform:rotate(0deg) } 
//   to { -webkit-transform:rotate(360deg) } 
// }

// @-moz-keyframes orbit { 
//   from { -moz-transform:rotate(0deg) } 
//   to { -moz-transform:rotate(360deg) } 
// }