.orbit
  border: 1px solid #3D3D3D
  position: absolute
  border-radius: 50%
  @extend zero-box
  +orbit-animation-full(infinite, linear, orbit)

.active-orbit
  border: 1px solid #FF7142

.mercury-orbit
  +orbit-style(586px, 864px, 22s)

.venus-orbit
  +orbit-style(602px, 856px, 56s)

.earth-orbit
  +orbit-style(614px, 850px, 91s)

.mars-orbit
  +orbit-style(634px, 840px, 172s)

.jupiter-orbit
  +orbit-style(790px, 762px, 1083s)

.saturn-orbit
  +orbit-style(974px, 670px, 2690s)

.uranus-orbit
  +orbit-style(1378px, 468px, 7671s)

.neptune-orbit
  +orbit-style(1834px, 240px, 15048s)

.pluto-orbit
  +orbit-style(2314px, 0, 22616s)

// @-webkit-keyframes orbit { 
//   from { -webkit-transform:rotate(0deg) } 
//   to { -webkit-transform:rotate(360deg) } 
// }

// @-moz-keyframes orbit { 
//   from { -moz-transform:rotate(0deg) } 
//   to { -moz-transform:rotate(360deg) } 
// }