.planet
  position: absolute
  border-radius: 50%
  bottom: 50%

.sun
  @extend .orbit
  +height-width(570px, 570px)
  +top-left-position-offset(872px, 872px)
  background: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%)
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange)
  background: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%)

.mercury
  +planet-style(2px, 2px, -1px, #969696)

.venus
  +planet-style(5px, 5px, -2.5px, #FFFF99)

.earth
  +planet-style(5px, 5px, -2.5px, #14B1FF)

.mars
  +planet-style(3px, 3px, -1.5px, #CC3300)

.jupiter
  +planet-style(58px, 58px, -29px, #FF6F0F)

.saturn
  +planet-style(50px, 50px, -25px, #FFFFB3)

.saturn-gap
  +planet-style(60px, 60px, -30px, black)
  bottom: 482px

.saturn-rings
  +planet-style(100px, 100px, -50px, #303030)
  bottom: 462px

.uranus
  +planet-style(22px, 22px, -11px, #14B1FF)

.neptune
  +planet-style(20px, 20px, -10px, #0085C7)

.pluto
  +planet-style(1px, 1px, -0.5px, #D1A375)