.planet
  position: absolute
  border-radius: 50%
  bottom: 50%

.sun
  @extend .orbit
  +height-width(570px, 570px)
  +top-left-position-offset(872px, 872px)
  background: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%)
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange)
  background: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%)

.mercury
  +planet-style($mercury-diameter, $mercury-color)

.venus
  +planet-style($venus-diameter, $venus-color)

.earth
  +planet-style($earth-diameter, $earth-color)

.mars
  +planet-style($mars-diameter, $mars-color)

.jupiter
  +planet-style($jupiter-diameter, $jupiter-color)

.saturn
  +planet-style($saturn-diameter, $saturn-color)

.saturn-gap
  +planet-style($saturn-gap-diameter, $saturn-gap-color)
  bottom: 482px

.saturn-rings
  +planet-style($saturn-rings-diameter, $saturn-rings-color)
  bottom: 462px

.uranus
  +planet-style($uranus-diameter, $uranus-color)

.neptune
  +planet-style($neptune-diameter, $neptune-color)

.pluto
  +planet-style($pluto-diameter, $pluto-color)