$font-size-base: 16px

$viewport: 2314px

$sun-size: 570px

// Distance and diameter measurements are pixels calculated to scale, by Nicholas Gallagher
$mercury-distance-from-sun: 8px
$mercury-diameter: 2px

$venus-distance-from-sun: 15px
$venus-diameter: 5px

$earth-distance-from-sun: 22px
$earth-diameter: 5px

$mars-distance-from-sun: 32px
$mars-diameter: 3px

$jupter-distance-from-sun: 110px
$jupiter-diameter: 58px

$saturn-distance-from-sun: 202px
$saturn-diamter: 50px

$uranus-distance-from-sun: 404px
$uranus-diamter: 22px

$neptune-distance-from-sun: 632px
$neptune-diameter: 20px

$pluto-distance-from-sun: 872px
$pluto-diameter: 1px