!!! 5
%head
  %title Haml + Sass Solar System [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "css/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %script{src: "http://code.jquery.com/jquery-1.9.0.min.js", type: "text/javascript"}
  %script{src: "js/solar-system.js", type: "text/javascript"}
  /%script{src: "http://mint.dankim.org/?js", type: "text/javascript"}
%body
  %section.name-list
    %ul#planet-names
      %li#mercury Mercury
      %li#venus Venus
      %li#earth Earth
      %li#mars Mars
      %li#jupiter Jupiter
      %li#saturn Saturn
      %li#uranus Uranus
      %li#neptune Neptune
      %li#pluto Pluto
    %p.thanks 
      A huge thanks to <a href="https://twitter.com/necolas" title="Nicolas Gallagher on Twitter">Nicolas Gallagher</a> for providing <a href="http://nicolasgallagher.com/css-pseudo-element-solar-system/demo/" title="Nicolas Gallagher's Solar System">all the math and inspiration</a> for this.
  %section.solar-system
    %ul#planet-orbits
      %li.sun
      %li.mercury-orbit#orbit-mercury
        .planet.mercury
      %li.venus-orbit#orbit-venus
        .planet.venus
      %li.earth-orbit#orbit-earth
        .planet.earth
      %li.mars-orbit#orbit-mars
        .planet.mars
      %li.jupiter-orbit#orbit-jupiter
        .planet.jupiter.shadow
      %li.saturn-orbit#orbit-saturn
        .planet.saturn-rings.shadow
        .planet.saturn-gap
        .planet.saturn.shadow
      %li.uranus-orbit#orbit-uranus
        .planet.uranus.shadow
      %li.neptune-orbit#orbit-neptune
        .planet.neptune.shadow
      %li.pluto-orbit#orbit-pluto
        .planet.pluto
  %script{src: "http://php.dankim.org/dankim-org-ga.js", type: "text/javascript"}



    